@import "tailwindcss";
@source "./";

body {
  font-family: "Pretendard", sans-serif;
  background-color: #f5f5f5;
}

@theme {
  --color-primary: #ff6b35;
  --color-primary-light: #ffb899;
  --color-primary-middle: #f97b4b;
  --color-primary-cream: #fff8f0;
}

@layer utilities {
  .bg-btn-primary {
    background: linear-gradient(135deg, #ff6b35, #f97b4b);
  }
  .text-primary-dark {
    color: #cc3d00;
  }
}
